.wrapper {
  max-width: 480px;
  background: rgb(48, 48, 48);
  padding: 24px 40px;
  border-radius: 16px;
  margin: auto
}

.title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

.form {
  margin-top: 20px;
  margin-bottom: 30px;
}

.yay {
  font-size: 18px;
  line-height: 27px;
  width: fit-content;
  margin: auto;
  margin-top: 24px;
}
